<div class="page_container">
  <div class="author_container">
    <div class="image_placeholder">
      <img src=<%= @user.photo%> alt="" >
    </div>
    <div class="details">
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.postscounter %></p>
    </div>
  </div>
  <div class="bio">
    <%= @user.bio %>
  </div>
  <% @user.most_recent_posts.each do |a| %>
  <div class="posts">
    <h4>
      <a href='/user/<%=a.id %>/posts/<%=a.id%>'>
        
      </a>
    </h4>
    <p><%= a.text %></p>
    <div class="stats">
      <p>Comments: <%= a.commentscounter %>,</p>
      <p>Likes: <%= a.likescounter %></p>
    </div>
  </div>
  <% end %>
  <button class="button">
    <a class="link" href='/users/<%= @user.id %>/posts'>
    See all Posts
    </a>
  </button>
</div>