<div class="page_container">
  <div class="full_post">
    <div class="header">
      <p class="header_info">
      <p class="header_comments">Comments: <%= @post.commentscounter %>,</p>
      <p class="header_likes">Likes: <%= @post.likescounter %></p>
    </div>
    <p><%= @post.text %></p>
  </div>
  <%= link_to new_user_post_comment_path do %>
    <button>Add Comment</button>
  <% end %>
  <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes", scope: :like do |f| %>
  <%= f.submit " Add Like" %>
  <% end %>
  <div class="all_comments">
    <% @post.comments.each do |c| %>
      <td><%= c.author.name %>:</td>
      <td>  <%= c.text %></td>
      <br />
    <% end %>
  </div>
</div>